
*.jar
*.class
*.DS_Store
.eclipse
.classpath
.project
.settings/
target/
.idea/
settings.xml

## All the folders underneath site folder
**/site
site/
site/*

## target folder at the top level of the project structue and paths and contents underneath it
target/
target/*

## target folder at any level of the project structue
**/target
/target
