<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>{{ossrh.user.name}}</username>
            <password>{{ossrh.user.pass}}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>{{gpg.passphrase}}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
